html {
    box-sizing: border-box;
    font-size: 62.5%
    
   /*1 rem son 10 pixeles */
  }
  *, 
  *:before, 
  *:after {
    box-sizing: inherit;
  }

  /*Constantes*/
body{
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background-color: white;
  margin: 0;
  padding: 0;
}
footer{
  background-color: rgb(81, 81, 81);
  margin-top: 5rem;
  padding: 2.5rem;
}
img{
  max-width: 100%;
  display: block;
}
h1{
  color: rgb(235, 255, 255);
  font-size: 9rem;
}
@media (max-width:391px){
  h1{
    font-size: 7rem;
  }
}

h2{
  font-size: 3rem;
}
@media (max-width:391px){
  h2{
    font-size: 2.5rem;
  }
}

h3{
  font-size: 2.4rem;
}
@media (max-width:391px){
  h3{
    font-size: 1.9rem;
  }
}
h4{
  font-size: 2.1rem;
  text-align: center;
}
@media ( max-width:769px){
  h4{
    font-size: 1.7rem;
  }
}
@media (max-width:391px){
  h4{
    font-size: 1.7rem;
  }
}
.contenedor{
  max-width: 120rem;
  margin-inline: auto; 
}


@media (max-width:391px){
  .contenedor{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}



/*Header*/
.header{
  background: linear-gradient(to bottom,rgb(81, 81, 81), white);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
}
@media (max-width:391px){
  .header{
    display: flex;
    flex-direction: column;
  }
}

.header img{
  max-width: 15rem;
  max-height: 15rem;
  margin-left: 5rem;
}
@media (max-width:391px){
  .header img{
    max-width: 12rem;
    max-height: 12rem;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 0;
  }
}

.titulo{
  text-align: center;
}
@media (max-width:391px){
  .titulo{
    font-size: 5rem;
    margin-top: 0;
  }
}

/*navegacion*/
.contenedor-navegacion{
  border-bottom:0.1rem solid rgb(81, 81, 81);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5rem;
}
@media (max-width:391px){
  .barra-navegacion{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.contenedor-navegacion a{
  font-size: 2.5rem;
  align-items: center;
  text-decoration: none;
  padding: 0 5rem;
}
@media (max-width:391px){
  .contenedor-navegacion a{
    font-size: 1.7rem;
    line-height: 2rem;
  }
}

.contenedor-navegacion a:hover{
  color: black;
  transition: transform 0.3s ease ;
}

/*Sobre nosotros*/
.sobre-nosotros{
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 7rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  justify-content: center;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.fondo{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../img/fondoSobreNosotros.jpg);
  background-size: cover;
  transition: transform 0.3s ease-in-out;
  z-index: -1;
}
.sobre-nosotros:hover .fondo{
  transform: scale(1.2);
}
.contenido{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: center;
  justify-content: center;
  z-index: 1;
}
@media (max-width:769px){
  .contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.tornillo{
  grid-column-start: 2;
  grid-column-end: 3.5;
}
.tornillo img{
  height: 30rem;
  width: 40rem;
}
@media ( max-width:769px){
  .tornillo img{
    margin-left: 15rem;
  }
}
@media (max-width:391px){
  .tornillo img{
    height: 23rem;
    width: 33rem;
    margin-left: 3rem;
  }
}

.texto-sobre{
  grid-column-start: 4;
  grid-column-end: 6;
  margin-left: 10rem;
  font-size: 2rem;
  text-align: justify;
}
.texto-sobre h2{
  text-align: center;
}

/*Clientes y noticia*/
.clientes{
  display: grid;
  grid-template-columns: 60% 40%;
  column-gap: 2rem;
  margin-top: 7rem;
}
@media ( max-width:769px){
  .clientes{
    grid-template-columns: 55% 45%;
  }
}
@media (max-width:391px){
  .clientes{
    display: flex;
    flex-direction: column;
  }
}
.mapamundi img{
  height: 50rem;
  width: 80rem;
}
@media ( max-width:769px){
  .mapamundi img{
    height: 35rem;
    width: 45rem;
  }
}
@media (max-width:391px){
  .mapamundi img{
    max-height: 30rem;
    max-width: 35rem;
  }
}

.comillas{
  display: flex;
  align-items: center;
}
.contenedor-noticia{
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
@media (max-width:391px){
  .contenedor-noticia{
    margin-top: 2rem;
  }
}
.fecha{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.fecha h3{
  color: red;
}
.leroy-logo{
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3; 
}
.noticia-texto{
  text-align: justify;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 6;
}


/*Utilidades*/
.usos ul{
  list-style: none;
  display: flex;
  gap: 5rem;
  padding-inline-start: 0;
  justify-content: center;
}

@media (max-width:391px){
  .usos ul{
    display: flex;
    flex-direction: column;
  }
}
.uso{
  position: relative;
}
@media (max-width:391px){
  .uso {
    margin-left: 2.6rem;
  }
}
.uso:hover .explicacion{
  display: block;
}
@media ( max-width:769px){
  .uso:hover .explicacion{
    height: 25rem;
    width: 22rem;
    font-size: 1rem;
    line-height: 1rem;
  }
}
@media ( max-width:769px){
  .uso:hover .explicacion p{
    margin-top: 0;
  }
}
@media ( max-width:769px){
  .uso:hover .explicacion h4{
    margin-bottom: 0.9rem;
  }
}
@media (max-width:391px){
  .uso:hover .explicacion{
    width: 30rem;
    height: 25rem;
  }
}
.explicacion{
  display: none;
  position: absolute;
  top: 0.1rem;
  left: 0.5rem;
  bottom: 0.5rem;
  right: 0.5rem;
  background: rgba(0,0,0,0.6);
  text-align: center;
  color: white;
  text-align: justify;
  font-size: 1.2rem;
}
.explicacion p{
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 1.7rem;
}
.uso img{
  width: 30rem;
  height: 25rem;
}


/*Footer*/
.contenedor-footer{
  display: grid;
  grid-template-columns: 1fr 1fr ;
}
@media (max-width:391px){
  .contenedor-footer{
    display: flex;
    flex-direction: column;
  }
}
.contenedor-footer h3{
  font-size: 2rem;
}
.info{
  display: flex;
  flex-direction: column;
}
.info-cont{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media ( max-width:769px){
  .info-cont{
    display: flex;
    flex-direction: column;
  }
}
@media (max-width:391px){
  .info-cont{
    display: flex;
    flex-direction: column;
  }
}
.info-tipo{
  margin-right: 2rem;
  line-height: 0.5rem;
  font-size: 1.4rem;
}
@media (max-width:391px){
  .info-cont{
    text-align: center;
  }
}
.info-redes{
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
}
.info-redes img{
  height: 2.7rem;
  width: 2.7rem;
  margin-right: 2rem;
}
.mapa {
  text-align: center;
}
.maps{
  height: 30rem;
  width: 50rem;
}
@media (max-width:391px){
  .maps{
    margin-top: 6rem;
    width: 30rem;
    height: 30rem;
  }
}
.copyright{
  font-size: 1.2rem;
}



/*Contactanos*/
.fondo-formulario{
  background-image: url(../img/fondoFormulario.jpg);
  background-size: 100% 100%;
}
.formulario{
  display: flex;
  flex-direction: column;
  background-color: white;
  box-sizing: border-box;
  width: 40rem;
  padding: 3rem;
  margin-top: 10rem;
  margin-bottom: 20rem;
  margin-left: 80rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 1.5rem 3.5rem #000;

}
@media (max-width:391px){
  .formulario{
    margin-top: 10rem;
    margin-bottom: 20rem;
    margin-left: 4rem;
    height: 50rem;
    width: 30rem;
  }
}
.campos,
textarea.campos {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  border: 0.1rem solid #000;
  font-size: 1.8rem;
}
.condiciones{
  height: 4rem;
  text-align: center;
  font-size: 1.8rem;
}
.textarea{
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  border: 0.1rem solid #000;
  font-size: 1.8rem;
}
.formulario a{
  color: #146dd3;
  text-decoration: none;
}
.formulario a:hover{
  color: #2507ab;
  text-decoration: underline;
}
.enviar{
  width: 100%;
  border: none;
  padding: 1.2rem;
  color: grey;
  margin: 1.6rem 0;
}
.enviar:hover{
  transition: transform 0.3s ease ;
  color: white;
  background-color: rgb(44, 44, 44);
}
.check{
  display: flex;
}
label{
  font-size: 1.6rem;
  margin-left: 1.5rem;
}

/*productos*/
.productos{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.producto1{
  grid-column-start: 1;
  grid-column-end: 7;
  display: flex;
  flex-direction: row;
  align-items: center; 
  text-align: center;
  border-bottom:0.1rem solid #000;
}
@media (max-width:391px){
  .producto1{
    display: flex;
    flex-direction: column;
    border-bottom: none;
  }
}
.producto1 img{
  margin-left: 8rem;
  width: 40rem;
  height: 20rem;
}
@media (max-width:391px){
  .producto1 img{
    width: 20rem;
    height: 10rem;
    justify-content: center;
    margin-left: 0;
    margin-top: 3rem;
  }
}
.producto1 ul{
  margin-left: 10rem;
  text-align: left;
  font-weight: bold;
}
@media (max-width:391px){
  .producto1 ul{
    margin-left: 0;
    justify-content: center;
  }
}
.producto1 ul span{
  font-weight: normal;
}
@media (max-width:391px){
  .producto1 ul h2{
    font-size: 2rem;
    text-align: center;
    margin: 0;
  }
}
@media (max-width:391px){
  .producto1 ul {

    width: 28rem;
    height: 9.7rem;
    text-align: left;
    margin: 0;
  }
}