html {
    box-sizing: border-box;
    font-size: 62.5%
    
   /*1 rem son 10 pixeles */
  }
  *, 
  *:before, 
  *:after {
    box-sizing: inherit;
  }

  /*Constantes*/
body{
  font-family: "Times New Roman", Times, serif;
  font-size: 1.6rem;
  background-color: white;
  margin: 0;
  padding: 0;
}
footer{
  background-color: rgb(81, 81, 81);
  margin-top: 5rem;
  padding: 2.5rem;
}
img{
  max-width: 100%;
  display: block;
}
h1{
  color: azure;
  font-size: 9rem;
}
h2{
  font-size: 3rem;
}
h3{
  font-size: 2.4rem;
}




/*Header*/
.header{
  background-color: rgb(81, 81, 81);
  display: flex;
  align-items: center;
}

.header img{
  max-width: 20rem;
  max-height: 20rem;
  margin-left: 5rem;
}
.titulo{
  text-align: center;
  margin-left: 30rem;
}
.contenedor{
  max-width: 120rem;
  margin-inline: auto; 
}

/*navegacion*/
.contenedor-navegacion{
  background-color: rgb(81, 81, 81);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0;
}
.contenedor-navegacion a{
  font-size: 2.5rem;
  align-items: center;
  text-decoration: none;
  padding: 0 5rem;
}
.contenedor-navegacion a:hover{
  color: black;
  transition: transform 0.3s ease ;
}

/*Sobre nosotros*/
.sobre-nosotros{
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 0;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  justify-content: center;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;

}
.fondo{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../img/fondoSobreNosotros.jpg);
  background-size: cover;
  transition: transform 0.3s ease-in-out;
  z-index: -1;
}
.sobre-nosotros:hover .fondo{
  transform: scale(1.2);
}
.contenido{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: center;
  justify-content: center;
  z-index: 1;
}
.tornillo{
  grid-column-start: 2;
  grid-column-end: 3;
}
.tornillo img{
  height: 20rem;
  width: 15rem;
}
.texto-sobre{
  grid-column-start: 3;
  grid-column-end: 5;
  margin-left: 7.5rem;
}

/*Clientes*/
.mapa-clientes{
  display: grid;
  grid-column-gap: 25rem;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(8,1fr);
  grid-gap: 1.5rem;
}
.cliente:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 9;
}
.cliente:nth-child(1) img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cliente:nth-child(2){
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;

}
.cliente:nth-child(2) img{
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.cliente:nth-child(3){
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 9;

}
.cliente:nth-child(3) img{
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}




/*Areas*/
.areas-trabajo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.area{
  padding: 0.5rem;
  position: relative;

}
.area img{
  width: 100%;
  height: 100%;
}
/*.area nombre:hover nombre{
  display: block;
}*/
/*.area:hover figcaption{
  display: block;
}*/

.nombre{
  /*display: none;*/
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  bottom: 0.5rem;
  right: 0.5rem;
  background: rgba(0,0,0,0.6);
  text-align: center;
  padding: 1.5rem;
  color: white;
}



/*Footer*/
.contenedor-footer{
  display: grid;
  grid-template-columns: 1fr 1fr ;
}
.contenedor-footer h3{
  font-size: 2rem;
}
.info{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.info-tipo{
  margin-right: 3rem;
  line-height: 0.5rem;
}
.info-tipo img{
  height: 7rem;
  width: 7rem;
}
.mapa {
  text-align: center;
}
.copyright{
  font-size: 1.2rem;
}










/*Contactanos*/
.fondo-formulario{
  background-image: url(../img/fondoFormulario.jpg);
  background-size: 100% 100%;
}
.formulario{
  display: flex;
  background-color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 40rem;
  padding: 3rem;
  margin: auto;
  margin-top: 8rem;
  margin-bottom: 20rem0;
  margin-left: 80rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 1.5rem 3.5rem #000;

}
.campos,
textarea.campos {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  border: 0.1rem solid #000;
  font-size: 1.8rem;
}
.condiciones{
  height: 4rem;
  text-align: center;
  font-size: 1.8rem;
}
.textarea{
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  border: 0.1rem solid #000;
  font-size: 1.8rem;
}
.formulario a{
  color: #146dd3;
  text-decoration: none;
}
.formulario a:hover{
  color: #2507ab;
  text-decoration: underline;
}
.enviar{
  width: 100%;
  border: none;
  padding: 1.2rem;
  color: grey;
  margin: 1.6rem 0;
}
.enviar:hover{
  transition: transform 0.3s ease ;
  color: white;
  background-color: rgb(44, 44, 44);
}
.check{
  display: flex;
}
label{
  font-size: 1.6rem;
  margin-left: 1.5rem;
}
