html {
    box-sizing: border-box;
    font-size: 62.5%
    
   /*1 rem son 10 pixeles */
  }
  *, 
  *:before, 
  *:after {
    box-sizing: inherit;
  }

body{
font-family: "Times New Roman", Times, serif;
 font-size: 1.6rem;
background-color: antiquewhite;
margin: 0;
padding: 0;
}
footer{
  background-color: rgb(40, 38, 38);
  margin-top: 5rem;
  padding: 2.5rem;
}
img{
  max-width: 100%;
  display: block;
}
h1{
  color: azure;
  font-size: 9rem;
}
h2{
  font-size: 3rem;
}
h3{
  font-size: 2.4rem;
}






.header{
  background-color: rgba(0, 170, 255, 0.247);
  display: flex;
  align-items: center;
}

.header img{
  max-width: 20rem;
  max-height: 20rem;
  margin-left: 5rem;
}
.titulo{
  text-align: center;
  margin-left: 30rem;
}
.contenedor{
  max-width: 120rem;
  margin-inline: auto; 
}
.contenedor-navegacion{
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0;
}
.contenedor-navegacion a{
  font-size: 2.5rem;
  align-items: center;
  text-decoration: none;
  padding: 0 5rem;
}
.contenedor-navegacion a:hover{
  color: black;
  transition: transform 0.3s ease ;
}

.sobre-nosotros{
  background-image: url(../img/fondoSobreNosotros.jpg);
  height: 200px;
  width: 100%;
  margin-top: 0;
}





.mapa-clientes{
  display: grid;
  grid-column-gap: 25rem;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(8,1fr);
  grid-gap: 1.5rem;
}
.cliente:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 9;
}
.cliente:nth-child(1) img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cliente:nth-child(2){
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;

}
.cliente:nth-child(2) img{
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.cliente:nth-child(3){
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 9;

}
.cliente:nth-child(3) img{
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}





.areas-trabajo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.area{
  padding: 0.5rem;
  position: relative;

}
.area img{
  width: 100%;
  height: 100%;
}
/*.area nombre:hover nombre{
  display: block;
}*/
/*.area:hover figcaption{
  display: block;
}*/

.nombre{
  /*display: none;*/
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  bottom: 0.5rem;
  right: 0.5rem;
  background: rgba(0,0,0,0.6);
  text-align: center;
  padding: 1.5rem;
  color: white;
}



/*Footer*/
.mapa {
  text-align: center;
}