html {
    box-sizing: border-box;
    font-size: 62.5%; /*1 rem son 10 pixeles*/
  }
  *, 
  *:before, 
  *:after {
    box-sizing: inherit;
  }

body{
background-color: antiquewhite;
}
img{
  max-width: 100%;
  display: block;
}
h1{
  color: azure;
  font-size: 9rem;
}
h2{
  font-size: 3rem;
}
h3{
  font-size: 2.4rem;
  margin:0 0 0.5px 0;
}






.header{
  background-color: rgba(0, 170, 255, 0.247);
  display: flex;
  align-items: center;
}

.header img{
  max-width: 20rem;
  max-height: 20rem;
  margin-left: 5rem;
}
.titulo{
  text-align: center;
  margin-left: 30rem;
}
.contenedor{
  max-width: 120rem;
  margin-inline: auto;
  
}
.contenedor-navegacion{
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  
}
.contenedor-navegacion a{
  align-items: center;
  margin: 0 5rem;
}
.sobre-nosotros{
  
}
.mapa-clientes{
  display: grid;
  grid-column-gap: 25rem;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(5,1fr);
  align-items: center;
}
.cliente:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
  display: grid;
  font-size: 1.5rem;
}
.cliente:nth-child(1) img{
  max-height: max-content;
  max-width: max-content;
}
.cliente:nth-child(2){
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  font-size: 1.5rem;
}
.cliente:nth-child(2) img{
  max-height: 40rem;
  max-width: max-content;
}
.cliente:nth-child(3){
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
  display: grid;
  font-size: 1.5rem;
}
.cliente:nth-child(3) img{
  max-height: 40rem;
  max-width: max-content;
}