html {
    box-sizing: border-box;
    font-size: 62.5%
    
   /*1 rem son 10 pixeles */
  }
  *, 
  *:before, 
  *:after {
    box-sizing: inherit;
  }

  .mapa-clientes{
    display: grid;
    /*grid-column-gap: 25rem;*/
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(8,1fr);
    grid-gap: 1.5rem;
  }
  .cliente:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 9;
  }
  .cliente:nth-child(1) img{
    height: 150rem;
    width: 100rem;
    object-fit: cover;
  }
  .cliente:nth-child(2){
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
  
  }
  .cliente:nth-child(2) img{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
  .cliente:nth-child(3){
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 9;
  
  }
  .cliente:nth-child(3) img{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
  }